# Ignore everything inside the data/ directory
pack.mcmeta
pack.png
/data/*
!/data/blazeandcave/
/data/blazeandcave/*
!/data/blazeandcave/advancement/
/data/blazeandcave/advancement/*
!/data/blazeandcave/advancement/tmj/
!/data/blazeandcave/advancement/pusha/

# Ignore everything inside bc_rewards but unignore specific paths
!/data/bc_rewards/
/data/bc_rewards/*
!/data/bc_rewards/function/
/data/bc_rewards/function/*
!/data/bc_rewards/function/tmj/
!/data/bc_rewards/function/pusha/
!/data/bc_rewards/function/exp/
/data/bc_rewards/function/exp/*
!/data/bc_rewards/function/exp/tmj/
!/data/bc_rewards/function/exp/pusha/
!/data/bc_rewards/function/reward/
/data/bc_rewards/function/reward/*
!/data/bc_rewards/function/reward/tmj/
!/data/bc_rewards/function/reward/pusha/
!/data/bc_rewards/function/msg/
/data/bc_rewards/function/msg/*
!/data/bc_rewards/function/msg/tmj/
!/data/bc_rewards/function/msg/pusha/